@import '../../colors.less';
input {
	display: block;
	border: none;
	border-bottom: 1px solid @button-link-color;
	background-color: transparent;
	outline: none;
	width: 280px;
	margin: 5px auto;
	margin-bottom: 15px;	
}
