@import '../../colors.less';
.button_primary {
	background-color: @button-link-color;
	width: 280px;
	height: 30px;
	color: @text-color;
	border-radius: 8px;
	padding: 5px;
	box-sizing: border-box;
	border: none;
	margin: 0 auto;
	position: relative;
	display:block;
	margin-top: 35px;
	margin-bottom: 10px;
}
.button_secondary {
	background-color: @green;
	width: 90px;
	height: 30px;
	color: @text-color;
	border-radius: 10px;
	box-sizing: border-box;
	border: none;
	margin: 15px 0;
}
.button_red {
	background-color: @error-color;
	width: 90px;
	height: 30px;
	color: @text-color;
	border-radius: 10px;
	box-sizing: border-box;
	border: none;
	margin: 15px 0;
}

