.userSettings_container {
  height: 85vh;
  width: 400px;
  margin: 0 auto;
  margin-top: 70px;
  margin-right: 0;
}
h3 {
  text-align: center;
  margin-bottom: 40px;
}
/* #change_data_form label {
  margin: 0 60px;
} */
