#signin_form,
#login_form {
  width: 340px;
  border: 1px solid #EDE8E8;
  border-radius: 12px;
  display: block;
  padding: 20px 0;
  box-shadow: 0px 1px 7px #EAEAEA;
  height: fit-content;
  margin: 0 auto;
  margin-top: 150px;
  margin-bottom: 50px;
}
h1 {
  font-size: 20px;
  text-align: center;
  margin-bottom: 20px;
}
