.modal_add_chat,
.modal_delete_chat {
  display: none;
  min-height: 50px;
  align-items: baseline;
  justify-content: space-between;
}
.modal_add_chat input,
.modal_delete_chat input {
  border: 1px solid #e4dfdf;
  height: 30px;
  border-radius: 7px;
  margin-right: 10px;
  padding-left: 10px;
}
.modal_add_chat button,
.modal_delete_chat button {
  margin: 0;
}
