@import '../../colors.less';
.message_window  {
    vertical-align: bottom;
    width: 75%;
    min-width: 846px;
    height: 100hv;
    padding-right: 10px;
}
.message_window a {
    margin-left: 100px;
    margin-top: 40px;
    font-size: 20px;
}
#incoming_message  {
    margin-right: 10px;
    text-align: end;
    padding: 10px  0px 5px 125px;
}
#outgoing_message  {
    margin-left: 30px;
    padding: 10px 125px 0px 10px;
}
#incoming_message p {
    display: flex;
    align-items: flex-end;
    margin-right: 0; 
    margin-left: 600px;
    border-radius: 20px;
    width: fit-content;
    padding: 20px;
    background-color: @incoming-message-color;
}
#outgoing_message p {
    width: fit-content;
    padding: 20px;
    border-radius: 20px;
    background-color: @outgoing-message-color;
    text-align: end;
}
#add_delete_user {
    display: flex;
    width: 100px;
}
