<form action="#" method="post" >
    <div><img  class="clip" src="{{url_clip}}" alt="send"></button></div>
	<div class="input_message"> 
        {{{ input_message }}}
    </div>
    <div  class="button_send_message">
	    {{{button_send}}}
    </div>
</form>
