.chats {
  display: flex;
  flex-direction: column;
  padding: 0 7px;
  width: 25%;
  min-width: 300px;
  height: 100vh;
  border-right: 1px solid #EAEAEA;
  box-shadow: 0 0 2px #C1B9B9;
}
.messenger {
  display: flex;
  height: 100vh;
}
