<div class="chats"> 
    {{{header_chats}}}
    <div class="chats_list">
        {{!-- {{#each chat}} --}}
        {{{chat}}}
        {{!-- {{{chat2}}} --}}
        {{!-- {{/each}} --}}
    </div>
</div>
{{{message_window}}}
