.chats_header {
  display: flex;
  width: 350px;
  justify-content: space-between;
  align-items: center;
  background-color: #FBFBFB;
  padding: 0 15px;
}
.chats_header_conteiner {
  width: 350px;
}
.profile {
  color: #999999;
}
#search {
  display: flex;
  height: 35px;
  align-items: flex-start;
  justify-content: space-evenly;
  margin-bottom: 25px;
}
#search input {
  width: 100%;
  border: none;
  width: 260px;
  background-color: #EFEFEF;
  height: 35px;
  border-radius: 5px;
  text-align: center;
}
.search_button,
.search_button img {
  width: 30px;
  height: 30px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  margin-top: 2px;
  margin-right: 10px;
}
hr {
  height: 1px;
  border: 0;
  background-color: #EAEAEA;
}
.form_search {
  display: flex;
}
