<div class="profile_conteiner">
	<p>{{{name}}}</p>
	<a href="/userSettings">
		<p class="profile"> Профиль &gt;</p>
	</a>
</div>
</div>
<div id="search">
<form action="#" method="post" class="form_search">
	<input type="text"  placeholder="Поиск" name="search" required>
	{{{button_search}}}
</form>

{{!-- <img src="{{url}}" alt="Search"> --}}
{{!-- <button type="submit" class="search_button"></button> --}}
