<div class="chats_header">
	<p>{{{name}}}</p>
	<a href="#">
		<p class="text-s">Profile &gt;</p>
	</a>
	<div id="header_frame">
	<form action="#" method="post">
		<div class="search_form">
			{{{input}}}
			<button type="submit" class="search_button">&nbsp;</button>
		</div>
	</form>
	</div>
</div>
