<div class="chats_header">
	<p>{{{name}}}</p>
	<a href="/userSettings">
		<p class="profile"> Профиль &gt;</p>
	</a>
</div>
<div id="search">
	<form action="#" method="post" class="form_search">
		<input type="text"  placeholder="Поиск" name="search" required>
		<button type="submit" class="search_button"><img src="{{url}}" alt="Search"></button>
	</form>
</div>
<hr>
