<div class="chats_header_conteiner" > 
	<div class="chats_header">
		<p>{{{name}}}</p>
		<a href="#">
			<p class="profile"> Профиль &gt;</p>
		</a>
	</div>
	<div id="search">
		<form action="#" method="post">
			<input type="text"  placeholder="Поиск" name="search" required>
		</form>
		<button type="submit" class="search_button"><img src="{{url}}" alt="Search"></button>
	</div>
	<hr>
</div>