<div class="profile_conteiner">
	<p>{{{name}}}</p>
	<a href="/userSettings" class="profile">Профиль &gt;</a>
</div>
</div>
<div id="search">
<form action="#" method="post" class="form_search">
	{{{ input_search }}}
	{{{button_search}}}
</form>

