.avatar {
  height: 100px;
  width: 100px;
  background-color: #d5cdcd;
  border-radius: 50%;
}
.avatar input {
  height: 100px;
  width: 100px;
  cursor: pointer;
  opacity: 0;
  border-radius: 50%;
}
.avatar_conteiner {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
