.avatar {
    height: 100px;
    width: 100px;
    cursor: pointer;
    background-color: rgb(213, 205, 205);
    border-radius: 80px;
}
.avatar_conteiner {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}