.avatar {
  height: 100px;
  width: 100px;
  cursor: pointer;
  background-color: #D5CDCD;
  border-radius: 80px;
  margin: 0 auto;
  margin-bottom: 40px;
}
.avatar_conteiner {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
