<div class="avatar_conteiner">
	<div class="avatar"></div>
     {{!-- <div class="image-upload">
        <label for="file-input">
            <img src="{{src_img}}"/>
        </label>
        <input id="file-input" type="file" />
    </div> --}}
</div>