<section id="content">{{{page}}}</section>
<nav class="nav"> 
    <h3>Страницы</h3> 
    <ul class="nav_list"> 
        <li class="nav_item"> 
            <a class="nav_link" href="/">Чаты</a> 
        </li> 
        <li class="nav_item"> 
            <a class="nav_link" href="/userSettings">Профиль</a> 
        </li> 
         <li class="nav_item"> 
            <a class="nav_link" href="/login">Вход</a>
        </li> 
        <li class="nav_item"> 
            <a class="nav_link" href="/registration">Регистрация</a>
        </li>
        <li class="nav_item">
            <a class="nav_link" href="/404">Страница 404</a>
        </li> 
        <li class="nav_item">
            <a class="nav_link" href="/500">Страница 500</a>
        </li>  
    </ul> 
</nav>