* {
  box-sizing: border-box;
  font-family: 'Inter';
}
body {
  margin: 0 !important;
}
.settings {
  display: flex;
  width: 1000px;
  height: 100vh;
  align-items: center;
}
#content {
  display: flex;
  height: 100vh;
  align-items: center;
}
.nav {
  width: 200px;
  position: fixed;
  bottom: 100px;
  right: -50px;
}
.nav_list {
  list-style-type: none;
  padding: 0;
}
nav h3 {
  text-align: start;
  margin: 0;
}
.error {
  color: red;
  margin-left: 30px;
  margin-bottom: 20px;
}
.error_settings {
  color: red;
  margin-bottom: 20px;
}
.error_input {
  border: 3px solid red;
}
.button_out {
  width: 30px ;
  height: 30px;
  border-radius: 50%;
  text-align: start;
  border: none;
  background-image: url('../static/out.png');
  background-size: 30px;
  margin-left: 250px;
  width: fit-content;
}
.button_out button {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
  background-color: transparent;
  border: none;
}
.user_settings,
.user_change_data {
  border: none;
  margin: 0;
  text-align-last: end;
  justify-self: end;
  font-size: 13px;
}
