.modal_add_user {
  display: none;
  position: fixed;
  top: 14px;
  left: 430px;
  align-items: flex-end;
  height: fit-content;
}
.modal_add_user #input_add_user {
  border: 1px solid #ddd9d9;
  border-radius: 7px;
  height: 40px;
  margin-right: 10px;
}
.add_to_chat {
  margin: 5px 15px;
  height: fit-content;
}
.modal_add_user .button_secondary {
  padding: 5px;
  height: 40px;
}
#button_add_user {
  width: 100px;
  height: 50px;
}
.login {
  display: none;
  margin: 20px;
  width: fit-content;
  cursor: pointer;
}
.login-conteiner {
  display: none;
  position: fixed;
  top: 74px;
  left: 430px;
  background-color: #E8F0FE;
  width: 280px;
  border-radius: 7px;
}
.login-conteiner .button_out {
  margin: 0 auto;
}
