.modal_add_user {
  position: absolute;
  display: none;
  align-items: flex-end;
  height: fit-content;
}
.modal_add_user input {
  border: 1px solid #ddd9d9;
  border-radius: 7px;
  height: 40px;
  margin-right: 10px;
}
.add_to_chat {
  margin: 5px 15px;
  height: fit-content;
}
.modal_add_user button {
  padding: 5px;
  height: 40px;
}
#button_add_user {
  width: 100px;
  height: 50px;
}
.login {
  position: relative;
  top: 150px;
  display: none;
  margin: 15px;
  min-width: 100px;
  cursor: pointer;
}
.button_out {
  margin-left: 20px;
}
.login-conteiner {
  display: none;
}
